type file
id Elmish.Bridge.Giraffe
title
    Elmish Bridge Giraffe
owners
    
authors
   
projectUrl
    
iconUrl
    
licenseUrl
   
requireLicenseAcceptance
    false
copyright
    Copyright 2015-2020
tags
   
summary
    
description
   
files
    bin/Release/net5.0/*.dll ==> lib/net5.0
dependencies
    Giraffe >= LOCKEDVERSION-Giraffe
    Microsoft.AspNetCore.WebSockets ~> LOCKEDVERSION-Giraffe
