type file
id Elmish.Bridge.DotnetClient
title
    Elmish Bridge DotnetClient
owners
    
authors
   
projectUrl
    
iconUrl
    
licenseUrl
   
requireLicenseAcceptance
    false
copyright
    Copyright 2015-2020
tags
   
summary
    
description
   
files
    bin/Release/net5.0/*.dll ==> lib/net5.0
dependencies
    Elmish >= LOCKEDVERSION-DotnetClient
    Fable.Remoting.Json ~> LOCKEDVERSION-DotnetClient
    System.Net.WebSockets ~> LOCKEDVERSION-DotnetClient
